@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--vermelho: rgb(255, 0, 0);
--azul: #219ebcff;
--roxo: rgb(97, 38, 165);
--amarelo: #ffb703ff;
--laranja: #fb8500ff;
--fonte-titulo: "Almarai", sans-serif;
--fonte-texto: "Bitter", serif;

}

